@model Final_2252.Models.db.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <input asp-for="FlightNo" class="form-control" />
                <span asp-validation-for="FlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportSource" class="control-label"></label>
                <select asp-for="AirportSource" class ="form-control" asp-items="ViewBag.AirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AirportDestination" class="control-label"></label>
                <select asp-for="AirportDestination" class ="form-control" asp-items="ViewBag.AirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartDate" class="control-label"></label>
                <input asp-for="DepartDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardingTime" class="control-label"></label>
                <input asp-for="BoardingTime" class="form-control" />
                <span asp-validation-for="BoardingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gate" class="control-label"></label>
                <input asp-for="Gate" class="form-control" />
                <span asp-validation-for="Gate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zone" class="control-label"></label>
                <input asp-for="Zone" class="form-control" />
                <span asp-validation-for="Zone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <input asp-for="Seat" class="form-control" />
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seq" class="control-label"></label>
                <input asp-for="Seq" class="form-control" />
                <span asp-validation-for="Seq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

